body {
    background-image: url(../img/lily-banse--YHSwy6uqvk-unsplash.jpg);
    margin: 0px;
    background-size: cover;
}

header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

nav ul{
    display: inline;
    margin: 10px;
    list-style: none;
    text-align: center;
    justify-content: center;
}

a {
    text-decoration: none;
}
